<div class="notDevouredDiv">
<h2 class="label">Burgers to eat!</h2>
<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>
</div>

<div class="devouredDiv">
<h2 class="label">Burgers that are devoured!</h2>
<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>
</div>

<div class="addBurgerDiv">
<form class="create-form">

  <div class="form-group">
    <label for="ca" class="burgerAddNameLabel">Add your own burger!</label><br>
    <input type="text" id="ca" name="name" placeholder="Enter burger name here">
  </div>

  <button type="submit" class="addBurger">Submit</button>
</form>
</div>